---
import BaseLayout from "./base.astro";
const { frontmatter } = Astro.props;


let publishedDate = new Intl.DateTimeFormat("en-IE", {
    dateStyle: "medium",
    timeStyle: "short",
    timeZone: "UTC",
}).format(frontmatter.publishedDt);

let updatedDate;

if (frontmatter.publishedDt < frontmatter.updatedDt) {
  updatedDate = new Intl.DateTimeFormat("en-IE", {
    dateStyle: "medium",
    timeStyle: "short",
    timeZone: "UTC",
  }).format(frontmatter.updatedDt);
}

// We actually want to show when it was last edited.

---

<BaseLayout pageTitle=`jac - ${frontmatter.title}`>
<article>
  <h1>{frontmatter.title}</h1>
  <section id="article-descriptors">
  <p><em>{frontmatter.description}</em></p>
  <time>{publishedDate}</time>{updatedDate && <em><time>{updatedDate}</time></em>}
  </section>
  <section id="article-contents">
  <slot />
  </section>
</article>
</BaseLayout>